@font-face {
  font-family: "Nordic";
  src: url("/fonts/Nordic/Nordic-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(20deg, #2c2c2c, #b9b5b5);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
