.header {
position: relative;
height: 100px;
overflow: hidden;
}

.headerBg {
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
width: 100%;
height: 100%;
background-image: linear-gradient(#57013A, #3a0027);
transform: skewY(-6deg);
transform-origin: top left;
}

.footer {
position: relative;
height: 100px;
overflow: hidden;
}
  
.footerBg {
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
width: 100%;
height: 100%;
background-image: linear-gradient(#3a0027, #57013A);
transform: skewY(-6deg);
transform-origin: top right;
}